.ant-statistic {
  padding-top: 15px;
}

.ant-statistic-content {
  color: #c0bbd8;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: baseline;

  span {
    font-size: 22px;
    margin-right: 10px;
  }
}

.counter {
  color: #c0bbd8;
}
